@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Protest+Guerrilla&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Protest+Guerrilla&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

.header {
  font-family: "Roboto Mono", monospace;
}
.banner h1 {
  font-family: "Protest Guerrilla", sans-serif;
}
.banner p,.intro h1 {
  font-family: "Roboto Mono", monospace;
}
.intro .head, .works .head {
  font-family: "Ubuntu", sans-serif;
}